<html xmlns:th="http://www.w3.org/1999/xhtml" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>更新密码</title>
</head>
<body>
<p>
    <span th:text="${userName}"></span>，您好:</p>
<p style="margin: 0 10px; line-height:40px; text-indent:2em;">
    您的<span th:text="${sysName}"></span>账号密码已更新为：<span th:text="${password}"></span>
</p>
<p style="margin: 0 10px; line-height:40px; text-indent:2em;">
    请妥善保管！
</p>
<p style="margin-left: 10px; line-height:40px; text-indent:2em;">
    祝您工作愉快！
</p>
</body>
</html>
